.DS_Store

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/
Package.resolved

# Local build products
build/
DerivedData/
dist/
*.xcarchive

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
